beautifulsoup4==4.5.3
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
idna==2.6
kiwisolver==1.0.1
matplotlib==2.2.2
numpy==1.15.1
pandas==0.18.0
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
requests==2.18.4
six==1.11.0
urllib3==1.22
