actionlib==1.11.13
angles==1.9.11
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.5.3
bondpy==1.8.3
boto==2.49.0
boto3==1.9.18
botocore==1.12.18
bz2file==0.98
camera-calibration==1.12.23
camera-calibration-parsers==1.11.13
catkin==0.7.14
certifi==2018.8.24
chardet==3.0.4
cv-bridge==1.12.8
cycler==0.10.0
cymem==1.31.2
cytoolz==0.9.0.1
diagnostic-analysis==1.9.3
diagnostic-common-diagnostics==1.9.3
diagnostic-updater==1.9.3
dill==0.2.8.2
docutils==0.14
dryscrape==1.0
dynamic-reconfigure==1.5.50
en-core-web-sm==2.0.0
funcy==1.11
future==0.16.0
gazebo-plugins==2.5.17
gazebo-ros==2.5.17
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.11
gennodejs==2.0.1
genpy==0.6.7
gensim==3.6.0
idna==2.7
image-geometry==1.12.8
interactive-markers==1.11.4
Jinja2==2.10
jmespath==0.9.3
joblib==0.12.5
kiwisolver==1.0.1
laser-geometry==1.6.4
lxml==4.2.5
MarkupSafe==1.0
matplotlib==3.0.0
message-filters==1.12.14
more-itertools==4.3.0
msgpack==0.5.6
msgpack-numpy==0.4.4.1
murmurhash==0.28.0
nltk==3.3
numexpr==2.6.8
numpy==1.15.1
pandas==0.18.0
pathlib2==2.3.2
plac==0.9.6
pluggy==0.7.1
pluginlib==1.11.3
preshed==1.0.1
py==1.6.0
pyLDAvis==2.1.2
pyparsing==2.2.2
pytest==3.8.2
python-dateutil==2.7.3
python-qt-binding==0.3.4
pytz==2018.5
qt-dotgraph==0.3.11
qt-gui==0.3.11
qt-gui-cpp==0.3.11
qt-gui-py-common==0.3.11
regex==2017.4.5
requests==2.21.0
resource-retriever==1.12.4
rosbag==1.12.14
rosboost-cfg==1.14.4
rosclean==1.14.4
roscreate==1.14.4
rosgraph==1.12.14
roslaunch==1.12.14
roslib==1.14.4
roslint==0.11.0
roslz4==1.12.14
rosmake==1.14.4
rosmaster==1.12.14
rosmsg==1.12.14
rosnode==1.12.14
rosparam==1.12.14
rospy==1.12.14
rosservice==1.12.14
rostest==1.12.14
rostopic==1.12.14
rosunit==1.14.4
roswtf==1.12.14
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-console==0.4.8
rqt-dep==0.4.9
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.13
rqt-launch==0.4.8
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.10
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rviz==1.12.16
s3transfer==0.1.13
scipy==1.1.0
sensor-msgs==1.12.7
six==1.11.0
smach==2.0.1
smach-ros==2.0.1
smart-open==1.7.1
smclib==1.8.3
spacy==2.0.12
tf==1.11.9
tf-conversions==1.11.9
tf2-geometry-msgs==0.5.20
tf2-kdl==0.5.20
tf2-py==0.5.20
tf2-ros==0.5.20
thinc==6.10.3
toolz==0.9.0
topic-tools==1.12.14
tqdm==4.26.0
ujson==1.35
urllib3==1.23
webkit-server==1.0
wrapt==1.10.11
xacro==1.11.3
xvfbwrapper==0.2.9
